.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.card-img {
  height: 150px;
  object-fit: cover;
}

.card-content {
  flex-grow: 1;
  padding-bottom: 16px;
}
