#ofertas > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes girar-cada-5s {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reloj-giratorio {
  display: inline-block;
  animation: girar-cada-5s 5s ease-in-out infinite;
}